<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>za.ac.tut.web.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookAppointmentServlet</servlet-name>
        <servlet-class>za.ac.tut.web.BookAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewAppointmentsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.viewAppointmentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingTypeServlet</servlet-name>
        <servlet-class>za.ac.tut.web.BookingTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveAddressServlet</servlet-name>
        <servlet-class>za.ac.tut.web.SaveAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookAppointmentServlet</servlet-name>
        <url-pattern>/BookAppointmentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewAppointmentsServlet</servlet-name>
        <url-pattern>/viewAppointmentsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingTypeServlet</servlet-name>
        <url-pattern>/BookingTypeServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveAddressServlet</servlet-name>
        <url-pattern>/SaveAddressServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>admin_phone</param-name>
        <param-value>0712345678</param-value>
    </context-param>
    <context-param>
        <param-name>admin_password</param-name>
        <param-value>321</param-value>
    </context-param>
    <context-param>
        <param-name>admin_username</param-name>
        <param-value>Melton</param-value>
    </context-param>
</web-app>
